<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
  <link rel="icon" type="image/png" href="../public/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="../public/images/favicon-16x16.png" sizes="16x16" />

</head>

<body>
  {{{body}}}
</body>

</html>